visualization/frontend/node_modules/**/*
visualization/frontend/renders/**/*
**/*.jls
**/*.txt
**/*.zip
.vscode/**/*
experiments/saves/**/*
experiments/**/saves/**/*
experiments/figure_saves/**/*
*.mp4
saves/**/*
snn_runs/**/*
*.png