html,
body,
#graph {
    height: 100vh
}

.node {
    stroke-width: 0px;
    cursor: move;
}

.compGroup {
    stroke: black;
    stroke-width: 1.5px;
    fill: white;
    cursor: move;
}

.poissonGroup {
    fill: lightblue;
}

.link {
    stroke: #7a4e4e60;
    stroke-width: 1px;
    stroke-opacity: 1;
}

.nodeLabel {
    fill: grey;
    font-family: Verdana;
    font-size: 8px;
    text-anchor: bottom;
    cursor: move;
}

.groupLabel {
    fill: grey;
    font-family: Verdana;
    font-size: 10px;
    text-anchor: middle;
    cursor: move;
}